@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components {
  body {
    margin: 0;
    background-color: theme(colors.bgDark);
    color: theme(colors.light);
    font-family: theme(fontFamily.sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 25px;
    box-sizing: border-box;

    @apply sm:px-16 md:px-28;
  }
}
